.container {
    display: grid;
    grid-template-areas: 
    "b c";
    grid-template-rows: calc(100vh - 8rem);
    grid-template-columns: 175px auto;
    padding: 4rem;
}  

.buttons {
    display: flex;
    flex-direction: column;
    grid-area: b;
    border: solid black;
    border-width: 1px 2px 0 0;
}

.content {
    grid-area: c;
    font-size: 2em;
    padding: 2rem 4rem;
}